matplotlib
numpy
pandas
scipy
seaborn
# BatchDotGrad extension and post-extension hook
-e git://github.com/f-dangel/backpack.git@post-extension-hook#egg=backpack-for-pytorch
# -e git://github.com/f-dangel/backpack.git@development#egg=backpack
-e git://github.com/fsschneider/DeepOBS.git@develop#egg=deepobs
# -e git://github.com/f-dangel/backobs.git@master#egg=backobs
-e git://github.com/f-dangel/backobs.git@development#egg=backobs
torch==1.6.0
torchvision==0.7.0
